###############
# ENVIRONMENT #
###############

snippet beg "begin{} / end{}" bi
\begin{$1}
	${0:${VISUAL}}
\end{$1}
endsnippet



########
# MATH #
########

snippet inm "Inline Math" w
\\(${1}\\)$0
endsnippet

